pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
pre .hll { background-color: #716799 }
pre { background: #433e56; color: #F8F8F2 }
pre .c { color: #b0bec5 } /* Comment */
pre .err { color: #960050; background-color: #1e0010 } /* Error */
pre .k { color: #C2FFDF } /* Keyword */
pre .l { color: #ae81ff } /* Literal */
pre .n { color: #F8F8F2 } /* Name */
pre .o { color: #FFB8D1 } /* Operator */
pre .p { color: #F8F8F2 } /* Punctuation */
pre .ch { color: #b0bec5 } /* Comment.Hashbang */
pre .cm { color: #b0bec5 } /* Comment.Multiline */
pre .cp { color: #b0bec5 } /* Comment.Preproc */
pre .cpf { color: #b0bec5 } /* Comment.PreprocFile */
pre .c1 { color: #b0bec5 } /* Comment.Single */
pre .cs { color: #b0bec5 } /* Comment.Special */
pre .gd { color: #f92672 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gi { color: #a6e22e } /* Generic.Inserted */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #75715e } /* Generic.Subheading */
pre .kc { color: #C2FFDF } /* Keyword.Constant */
pre .kd { color: #C2FFDF } /* Keyword.Declaration */
pre .kn { color: #FFB8D1 } /* Keyword.Namespace */
pre .kp { color: #C2FFDF } /* Keyword.Pseudo */
pre .kr { color: #C2FFDF } /* Keyword.Reserved */
pre .kt { color: #C2FFDF } /* Keyword.Type */
pre .ld { color: #e6db74 } /* Literal.Date */
pre .m { color: #C5A3FF } /* Literal.Number */
pre .s { color: #1bc5e0 } /* Literal.String */
pre .na { color: #ceb1ff } /* Name.Attribute */
pre .nb { color: #F8F8F2 } /* Name.Builtin */
pre .nc { color: #ceb1ff } /* Name.Class */
pre .no { color: #C5A3FF } /* Name.Constant */
pre .nd { color: #ceb1ff } /* Name.Decorator */
pre .ni { color: #F8F8F2 } /* Name.Entity */
pre .ne { color: #ceb1ff } /* Name.Exception */
pre .nf { color: #ceb1ff } /* Name.Function */
pre .nl { color: #F8F8F2 } /* Name.Label */
pre .nn { color: #F8F8F2 } /* Name.Namespace */
pre .nx { color: #F8F8F2 } /* Name.Other */
pre .py { color: #F8F8F2 } /* Name.Property */
pre .nt { color: #FFB8D1 } /* Name.Tag */
pre .nv { color: #F8F8F2 } /* Name.Variable */
pre .ow { color: #FFB8D1 } /* Operator.Word */
pre .w { color: #A8757B } /* Text.Whitespace */
pre .mb { color: #C5A3FF } /* Literal.Number.Bin */
pre .mf { color: #C5A3FF } /* Literal.Number.Float */
pre .mh { color: #C5A3FF } /* Literal.Number.Hex */
pre .mi { color: #C5A3FF } /* Literal.Number.Integer */
pre .mo { color: #C5A3FF } /* Literal.Number.Oct */
pre .sa { color: #1bc5e0 } /* Literal.String.Affix */
pre .sb { color: #1bc5e0 } /* Literal.String.Backtick */
pre .sc { color: #1bc5e0 } /* Literal.String.Char */
pre .dl { color: #1bc5e0 } /* Literal.String.Delimiter */
pre .sd { color: #1bc5e0 } /* Literal.String.Doc */
pre .s2 { color: #1bc5e0 } /* Literal.String.Double */
pre .se { color: #1bc5e0 } /* Literal.String.Escape */
pre .sh { color: #1bc5e0 } /* Literal.String.Heredoc */
pre .si { color: #1bc5e0 } /* Literal.String.Interpol */
pre .sx { color: #1bc5e0 } /* Literal.String.Other */
pre .sr { color: #1bc5e0 } /* Literal.String.Regex */
pre .s1 { color: #1bc5e0 } /* Literal.String.Single */
pre .ss { color: #1bc5e0 } /* Literal.String.Symbol */
pre .bp { color: #80cbc4 } /* Name.Builtin.Pseudo */
pre .fm { color: #ceb1ff } /* Name.Function.Magic */
pre .vc { color: #F8F8F2 } /* Name.Variable.Class */
pre .vg { color: #F8F8F2 } /* Name.Variable.Global */
pre .vi { color: #F8F8F2 } /* Name.Variable.Instance */
pre .vm { color: #F8F8F2 } /* Name.Variable.Magic */
pre .il { color: #C5A3FF } /* Literal.Number.Integer.Long */