.connect-info {
    margin-left: 1em;
}
.settings-editor {
    max-width: 100%;
    margin: 3em auto;
}
.settings-editor p {
    font-size: 90%;
}
.settings-editor legend {
    color: #5F419F;
    border-bottom: 1px solid #5F419F;
}
.settings-editor .form-group {
    margin: 1.5em auto;
}
.settings-editor .form-message {
    border-left: 4px solid #408D94;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #408D94;
    font-size: 80%;
    display: block;
}
.settings-editor .form-unit {
    font-size: 80%;
    color: #A28AD6;
    font-style: italic;
}
.settings-editor label {
    font-size: 90%;
}
.settings-editor .form-group.danger-zone label {
    color: #D94A5B;
}